@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700');

.MainLogo{
    display:block;
    width:150px;
    height:150px;
    background:url(/assets/logo.min.png) no-repeat center center / cover;
    margin:auto;
}

body{
  margin:0;
    overflow-x: hidden;
  padding:0;
  font-family:'Heebo',sans-serif;
}
*{
    outline:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    color:#000;
    font:100 20px 'Heebo';
    letter-spacing: 2px;
    text-transform: uppercase;
}
h2{

}
a{
    color:#000;
    text-decoration: none;
}