:host{
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    width: 30%;
    max-width: 300px;
    margin: 100px 10px 20px 10px;
    padding:20px;
    text-align: left;
}

.img{
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
    display:block;
    width: 150px;
    border-radius: 100%;
    margin: -100px 0 0 auto;
    height: 150px;
}

h5,p{
    margin:5px;
}