h3{font-size:20px;}
form{
    width:100%;
    max-width:500px;
    display:block;
    text-align: center;

}
form input{
    font:100 30px 'Heebo','Roboto',sans-serif;
    display:block;
}
form input[type=text]:focus,form input[type=email]:focus,form input[type=password]:focus{
    transform:scale(1.05);
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}
form input[type=text],form input[type=email],form input[type=password]{
    width:96%;
    transition:opacity .3s,transform .3s cubic-bezier(.6,0,.4,1),box-shadow .3s linear;
    font-size:20px;
    border:none;
    margin:20px 0;
    padding:10px 2%;
    border-radius: 3px;
    /*box-shadow:0 10px 20px rgba(0,0,0,.3);*/
}
form input[type=text]:before,form input[type=email]:before,form input[type=password]:before{
    content:'';
    position:absolute;
    background:#444;
    bottom:0;
    left:50%;
    transform:translate(-50% ,0);
}
form .button{
    color:#444;
    position:relative;width: auto;

    display: inline-block;
    transition:all .3s ;
}
form .button:hover{
    background-color:#444;

}
form .button:hover input{color:#FFF;}
form .button:before{
    content:''; position:absolute; width:500px; height:500px; top:50%; left:50%;background:#000;
    transform:translate(-50%,-50%) scale(0); border-radius: 100%;
    transition:transform .5s cubic-bezier(.6,0,.6,1);
}
form .button.completed:before{
    transform:translate(-50%,-50%) scale(4);
}
form .button:after{
    pointer-events: none;
    content:'Join us'; position:absolute; top:50%; left:50%;color:#FFF;
    transform:translate(-50%,0);
    opacity:0;
    transition:opacity .3s linear, transform .3s cubic-bezier(0,.5,.6,1);
}
form .button:hover:after{
    /*opacity:1;*/
    transform:translate(-50%,-50%);
}
form input[type=button]{
    cursor:pointer;
    margin:auto;
    border:none;
    font-size:20px;
    background:none;
    padding:10px 20px;
    border:solid 2px #444;
}
.successMsg{
    position:absolute; top:50%; left:50%;
    transform:translate(-50%,-50%);

}
.successMsg h1{
    color:#FFF;
}
.successMsg button{
    padding:10px 20px;
    border:solid 2px #FFF;
    background:none;
    cursor:pointer;
    color:white;
    text-transform: uppercase;
}